extends layout
block content
    h3.page-title #{title}
    p.mess #{message} #{success}
    if (!articles.length)
        p.no-article 还没有文章哟，先来
           a(href='/write') 发布一篇
    else
    table.list
        tr
            th 标题
            th 内容
            th 发表时间
            th 操作
        each val in articles
            tr
               td #{val.title}
               td #{val.content}
               td #{val.time}
               td
                   a(href='/?id=#{val._id}') 删除&nbsp;|&nbsp;
                   a(href='/write?id=#{val._id}') 编辑
