extends layout
block content
    h3.page-title #{title}
    p.mess #{message}
    table.list
        tr
            th 标题
            th 内容
            th 发表时间
            th 操作
        each val in articles
            tr
               td #{val.title}
               td #{val.content}
               td #{val.time}
               td
                   a(href='') 删除&nbsp;|&nbsp;
                   a(href='') 编辑
